@import "../../variables";

.purchase {
  background: no-repeat top right;
  &__title {
    margin-bottom: 0;
  }
  &__subtitle {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  &__form-row {
    margin-bottom: 5rem;
  }

}

.currency {
  &__item {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: 4rem;
    flex-shrink: 0;
    &:hover {
      background: $hover-color;
      .bitcoin {
        background-position: -0px -0px;
      }
      .bitcoin-alt {
        background-position: -0px -122px;
      }
      .eos {
        background-position: -0px -336px;
      }
      .ethereum {
        background-position: -0px -458px;
      }
      .litecoin {
        background-position: -0px -242px;
      }
    }
  }
  &__icon {
    transform: scale(0.8);
  }
}

.amount {
  &__input-box,
  &__output-box {
    width: 24rem;
    height: 24rem;
    background-color: #fff;
  }
  &__input-box {
    color: #fff;
    background: $hover-color;
    border-radius: 50%;
  }
  &__input, &__output-box {
    text-align: center;
    border: 0;
    font-size: 14px;
    &:active, &:focus {
      outline: none;
    }
  }
  &__input {
    background-color: transparent;
    color: #fff;
  }
  &__output-box {
    font-weight: 600;
  }
}

.confirm-purchase {
  &__btn {
    width: 14rem;
    height: 14rem;
    background-color: #fff;
    border: 2px solid $primary;
    flex-shrink: 0;
    &:hover {
      color: #fff;
      background: $hover-color;
      border: 0;
    }
  }
  &__input-box {
    padding-left: 5rem;
  }
}