@import "../../variables";

.balance {
  margin-bottom: 5rem;
  &__number-box {
  }
  &__number {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
    span {
      font-size: 2rem;
      margin-top: 0.4rem;
    }
  }
  &__btn {
    margin-top: 18rem;
  }
}

.transactions-table {
  &__subtitle {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  &__table-box {
    overflow: auto;
  }
  &__table {
    color: #fff;
    min-width: 420px;
    th, td {
      padding: 1.4rem;
    }
    thead {
      border-bottom: 2px solid #e3e3e3;
    }
  }
  &__contacts {
    font-size: 2rem;
    margin-top: 3rem;
  }
  &__contacts-link {
    text-decoration: underline;
  }
}