@import "../variables";

.header {
  &__navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &__img {
    border-radius: 50%;
    max-width: 10rem;
    width: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    font-weight: bold;
    &:hover {
      color: #fff!important;
      background: $hover-color;
    }
    &--active {
      color: #fff!important;
      background: $hover-color;
    }
  }
  &__user-greeting {
    margin-left: 3rem;
  }
}