//.bitcoin, .bitcoin-alt, .litecoin, .eos, .ethereum {
//  display: inline-block;
//  background: url('./img/currencies/currencies-sprite.png') no-repeat;
//  overflow: hidden;
//  text-indent: -9999px;
//  text-align: left;
//}

.bitcoin, .bitcoin-alt, .litecoin, .eos, .ethereum {
  width: 5.5rem;
  height: 5.5rem;
  background-size: 3.4rem!important;
  background-position: 50% 50% !important;
}

.bitcoin {
  background: url("./img/currencies/bitcoin.png") no-repeat;
}

.bitcoin-alt {
  background: url("./img/currencies/bitcoin-alt.png") no-repeat;
}

.litecoin {
  background: url("./img/currencies/litecoin.png") no-repeat;
}

.eos {
  background: url("./img/currencies/eos.png") no-repeat;
}

.ethereum {
  background: url("./img/currencies/ethereum.png") no-repeat;
}