//.bitcoin, .bitcoin-alt, .litecoin, .eos, .ethereum {
//  display: inline-block;
//  background: url('./img/currencies/currencies-sprite.png') no-repeat;
//  overflow: hidden;
//  text-indent: -9999px;
//  text-align: left;
//}

.bitcoin, .bitcoin-alt, .litecoin, .eos, .ethereum {
  width: 4.5rem;
  height: 4.5rem;
  background-size: 2.4rem!important;
  background-position: 50% 50% !important;
}

.bitcoin {
  background: url("./img/currencies/btc.svg") no-repeat;
}

.bitcoin-alt {
  background: url("./img/currencies/bc.svg") no-repeat;
}

.litecoin {
  background: url("./img/currencies/lt.svg") no-repeat;
}

.eos {
  background: url("./img/currencies/eos.svg") no-repeat;
}

.ethereum {
  background: url("./img/currencies/eth.svg") no-repeat;
}