.header {
  &__title {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    padding-right: 6rem;
  }
  &__circle {
    position: absolute;
    top: -5rem;
    right: 0;
    width: 6rem;
    height: 6rem;
  }
}