@import "./components/variables";

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.form-control {
  border-bottom: 1px solid #ced4da;
  font-weight: 400;
}

.btn-primary {
  background: $hover-color;
}