@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&subset=cyrillic');

//bootstrap
@import './components/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import './components/sprites';

html, body, #root {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  margin-bottom: 0;
}

.header {
  &__logo {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -3rem;
      right: -5rem;
      width: 6rem;
      height: 6rem;
      background: url(./img/bkg.svg) 50% 50% no-repeat;
      transform: scale(0.7);
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 7px;
  }
}

@include media-breakpoint-down(md) {
  .sign-up {
    background-position: 445px 0!important;
  }
}

@include media-breakpoint-down(sm) {
  .sign-in, .sign-up {
    background-image: none!important;
  }
}