@import "../../variables";

.sign-up {
  background: no-repeat top right;
  &__form-title {
    margin-top: 5rem;
  }
  &__btn-box {
    padding-left: 5rem;
  }
  &__btn {
    text-decoration: underline;
    font-size: 2.4rem;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
}

.agreement {
  margin-top: 5rem;
  &__title {
    font-weight: 400;
  }
  &__text {
    //font-weight: 100;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  &__link {
    text-decoration: underline;
  }
  &__btn {
    width: 16rem;
    height: 16rem;
    background: #fff;
    color: $primary;
    border: 2px solid $primary;
    font-weight: bold;
    flex-shrink: 0;
    &:hover, &:focus, &:active {
      background: $hover-color;
      color: #fff;
      border: 0;
    }
  }
}

.sign-in {
  background: no-repeat top right;
  &__form {
    margin-bottom: 9rem;
    margin-top: 2rem;
  }
  &__login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
  }
  &__text {
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 600;
  }
}

.confirm-checkbox {
  display: none;
  &:checked {
    ~ .agreement__btn {
      background: linear-gradient(to bottom, #69abdf 0%, #00519f 100%);
      color: #fff;
      border: 0;
    }
  }
}