@import "../../variables";

.sign-up {
  padding-bottom: 5rem;
  margin-bottom: -11rem;
  background-size: 82%;
  background-repeat: no-repeat;
  background-position: top right;
  &__bg {
    position: absolute;
    top: 28px;
    max-width: 1800px;
    right: 0;
  }
  &--left {
    .form-control {
      background-color: $field-color;
    }
  }
  &--right {
    .form-group {
      color: #fff;
    }
  }
  &__form-title {
    margin-top: 5rem;
  }
  &__btn-box {
    padding-left: 5rem;
  }
  &__btn {
    width: 20rem;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
}

.agreement {
  margin-top: 2rem;
  &__title {
    font-weight: 400;
    color: #fff;
  }
  &__text {
    font-weight: 200;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #fff;
  }
  &__link {
    text-decoration: underline;
    color: #fff;
  }
  &__btn {
    width: 20rem;
    background: #1e80d0;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    flex-shrink: 0;
    &:hover {
      background: $hover-color;
      border-color: $hover-color;
      color: #fff;
    }
  }
}

.sign-in {
  .container {
    background: no-repeat top right;
    background-size: contain;
  }
  &__form {
    margin-top: 2rem;
    &-title {
      font-size: 2rem;
      color: $secondary;
      font-weight: 300;
    }
    &-text {
      font-size: 2rem;
      margin-top: 3rem;
      font-weight: 300;
      color: $secondary;
    }
  }
  &__link {
    position: absolute;
    display: block;
  }
  &__title {
    margin-left: 3rem;
    margin-top: 8rem;
    font-size: 9rem;
    color: #0083d5;
    font-weight: 700;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 6rem;
    a {
      color: #88b7da;
    }
  }
  &__login-btn {
    margin-top: 0.5rem;
    flex: 1;
  }
  &__text-box {
    margin-top: 13rem;
  }
  .form-control {
    background-color: $field-color;
  }
}

.confirm-checkbox {
  display: none;
  &:checked {
    ~ .agreement__btn {
      background: $hover-color;
      border-color: $hover-color;
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .sign-up {
    background-image: none!important;
    &--right {
      .form-control {
        background-color: $field-color;
      }
      .form-group {
        color: #000;
      }
    }
  }
  .agreement {
    &__title, &__text {
      color: $secondary;
    }
  }
  .sign-in {
    .container {
      background-image: none;
    }
    &__title {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .sign-in {
    &__link {
      position: relative;
    }
    &__link, &__text-box {
      margin-top: 5rem;
    }
  }
}